<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Henri Helps</title>
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <script src="https://kit.fontawesome.com/bac46eacf2.js" crossorigin="anonymous"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Rowdies:wght@300&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/css/styles.css">

    </head>
    <body>
        <script>
            function redirect(){
                setTimeout(function() {
                    location.href = "/result";
                }, 5000);
            }
        </script>
        <div class="center">
            <h1>Henri Helps</h1>
            <h2>A Motivational Chat Bot</h2>
        </div>
            <div class="left">
                <img src="/img/henri.png" alt="simple picture of henri">
                <h1>Hi, I'm Henri</h1>
                <h3>
                    I use natural language processing to generate repsonses for students during 
                    hard times. If you ever need help more than this, reach out to trusted adults, staff 
                    members, gudiance counselors, or even your friends. People are here to help.
                </h3>
            </div>
            <div class="right">
                    <form onsubmit="return redirect()" action="/" method="post">
                        <label form="myform"><h2>What's on your mind?</h2></label>
                        <input name="mytext">
                    </form>
            </div>
        <div class="center">
            <div class="github">
                <a href="https://github.com/tylerwolf35/hackfree2023" title="github link">
                    <img src="/img/github.png" alt="github logo" width="25px" height="25px">
                </a>
            </div>
        </div>
    </body>
</html>
