<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Henri Helps</title>
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <script src="https://kit.fontawesome.com/bac46eacf2.js" crossorigin="anonymous"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Rowdies:wght@300&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <div class="left">
        <img src="/img/henri.png">
        <h2>Henri Says:</h2>
    </div>
    <div class="center">
        <h3><%= final %></h3>
        <br>
        <br>
        <br>
        <h2><a href="/">Back</a></h2>
    </div>
</html>